def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = "output"
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    help = false
    version = false
    wfversion = "v0.0.1"

    store_dir = "store_dir"

    climb = false
    local = false

    unique_id = null
    run_dir = null
    scylla_dir = null
    wf_dir = null

    extract_rank="S G"
    extract_min_reads = 1
    extract_min_percent = 0
    max_human_reads_before_rejection = 5000

    taxon_names = null
    //taxon_ids = null

    reference_segment_sep = "NNNNNNNNNNNNNNNNNNNNNNNNNNNNNN"
    reference_min_count = 10

    assembler = null

    disable_ping = false
    threads = 2

    process_label = "pantheon"
    monochrome_logs = false

    default_taxonomy = 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'

    validate_params = true
    show_hidden_params = false

    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,pangolin_version,wfversion,wf,process_label'

    wf {
      example_cmd = [
          "--fastq test_data/barcode01/reads.fastq.gz",
      ]
      agent = null
      container = "rmcolq/pantheon"
      container_sha = "sha256:3d0f161b89083df3ba735550a6d1e6f3389e63a58e549d5aaba19ec55db2ee95"
    }
}